 <table>
    <tr>
      <th>Title</th> <!-- TODO: Add translation -->
      <th>Content</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    <% @posts.each do |post| %>
     <tr>
        <td><%= post.title %></td>
        <td><%= sanitize(post.content[0, 150], tags:[]) %>...</td>
        <td><%= image_tag post.image if post.image.attached? %></td>
        <td><%= link_to "Zobacz", post_path(post.id) %> <br /> <%= link_to "Usuń", post_path(post.id), method: :delete , class: 'right'%> <br /> <%= link_to "Edytuj", post_path(post.id), method: :edit , class: 'right'%></td> <!-- TODO: Add translation -->
     </tr>
    <% end %>
  </table>