<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
<%= link_to "Dodaj", new_post_path %>
<% @posts.each do |post| %>
  <h5><%= post.title %></h5>
  <p><%= post.content %></p>
  <span><%= link_to "Zobacz więcej...", post_path(post.id) %></span>
  <abbr><%= link_to "Usuń", post_path(post.id), method: :delete %></abbr>
<% end %>